.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
}

.button-border {
  border: 4px solid #74c0fc;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}

.button-base {
  background-color: #343a40;
  outline: 2px solid black;
  position: relative;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  border-radius: 100%;
  font-size: 32px;
  outline: 2px solid black;
  border: 4px solid;
  border-left-color: #e0e0e0;
  border-top-color: #f1f3f5;
  border-bottom-color: #495057;
  border-right-color: #868e96;
  background-color: #4dabf7;
  cursor: pointer;
  color: #fff;
  padding: 20px 30px;
  transform: translateY(-20%);
  transition: all 0.2s ease-in-out;
}

.button:hover {
  transform: translateY(-10%) scale(1.05);
  background-color: #339af0;
}

.button:active {
  transform: translateY(0);
  background-color: #228be6;
}

