.floating-elements {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
}

.floating-element {
    position: absolute;
    opacity: 0.1;
    animation: float 15s infinite linear;
}

.floating-element:nth-child(1) {
    top: 20%;
    left: 10%;
    animation-delay: 0s;
    font-size: 2rem;
}

.floating-element:nth-child(2) {
    top: 60%;
    right: 15%;
    animation-delay: 5s;
    font-size: 1.5rem;
}

.floating-element:nth-child(3) {
    bottom: 30%;
    left: 20%;
    animation-delay: 10s;
    font-size: 1.8rem;
}

.network-icon, .music-icon {
    font-size: 4rem;
    margin: 20px 0;
    display: inline-block;
    animation: pulse 2s ease-in-out infinite alternate;
}

.network-icon {
    color: #667eea;
}

.music-icon {
    color: #f5576c;
}