/* css/style.css */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    color: #e0e0e0;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #1c1c1c;
}

.body {
  width: 100%;
  height: 100%;
  background-color: #1c1c1c;
  background-image: radial-gradient(rgba(255, 255, 255, 0.05) 2px, transparent 0);
  background-size: 30px 30px;
  background-position: -5px -5px;
}
